.text-red {
    color: red;
}

.bigger {
    width: 200px ;
}

.black-border {
    border: 2px solid black ;
}

.green-bg {
    background-color: green ;
}

.large-font {
    font-size: 2.5rem ;
}

img{
    width: 100px;
}

.image-border {
    border: 7px solid rgb(185, 14, 14);
}

.white-on-black {
    background-color: black ;
    color: white ;
}

.italic-text {
    font-style: italic ;
}

.lightblue-bg {
    background-color: lightblue ;
}

table td:last-child {
    text-align: right;
}